.power-2
{
    height: 100px;
    width: 50%;
    border-radius: 10px;
    background-color: rgb(255, 100, 0);
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    animation: pulse 5s infinite;
    display: flex;
}

@keyframes pulse
{
    0%
    {
        transform: scale(2);
    }

    50%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(2);
    }
}
