.power-2
{
    height: 80px;
    border-radius: 10px;
    background-color: rgb(255, 100, 0);
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

#power2-1
{
    width: 50%;
    flex-wrap: wrap;
    !animation: pulse1 1s infinite;
}

#power2-2
{
    flex-wrap: wrap;
    min-height: 20vh;
    align-items: stretch;
    justify-content: space-between;
    max-width: 10%;
    padding: 4em;
    !animation: pulse2 1s infinite;
}

#power2-3
{
    flex-wrap: wrap;
    width: 20%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 40vh;
    padding: 2em;
    !animation: pulse3 1s infinite;
}

@keyframes pulse1
{
    0%
    {
        transform: scale(2);
    }

    50%
    {
        transform: scale(1);
    }

    60%
    {
        transform: scale(0.8);
    }

    70%
    {
        transform: scale(0.8);
    }

    80%
    {
        transform: scale(1);
    }
    
    85%
    {
        transform: scale(1);
    }
    
    90%
    {
        transform: scale(2);
    }

    100%
    {
        transform: scale(2);
    }
}

@keyframes pulse2
{
    0%
    {
        transform: scale(2);
        filter: hue-rotate(0deg);
    }
    
    50%
    {
        transform: scale(1);
        filter: hue-rotate(280deg);
    }

    100%
    {
        transform: scale(2);
        filter: hue-rotate(0deg);
    }
}

@keyframes pulse3
{
    0%
    {
        transform: scale(1.5);
    }

    25%
    {
        transform: scale(1);
    }

    50%
    {
        transform: scale(0.5);
    }

    75%
    {
        transform: scale(1);
    }

    100%
    {
        transform: scale(1.5);
    }
}